.header{
  display: flex;
  justify-content: center;
  background-color: #666666;
  height: 70px;
}
.header ul{
  display: flex;
  align-items: center;
  margin: 0 0;
  padding: 0;
}
.header ul li{
  list-style-type: none;
  text-align: center;
  margin: 0 10px;
}
.header ul li a{
  text-decoration: none;
  color: #fafafa;
  font-weight: bolder;
  font-size: 1.1rem;
}