.input-mensagem{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 350px; height: 150px;
  margin: 20px auto;
}
.input-mensagem input, textarea{
  width: 100%;
}